/__init__.pyc
/mouse_proteome_flatfile_parser.pyc
/sandbox.pyc
/tools.pyc
/entrezdump.txt
/protein_abundances-ibaq.txt
/protein_abundances-lfq.txt
/orc6.txt
/ptpn22_ppi_data/
/processed_data/
/MEME/
/datafiles/
/bob/
